<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 30%">Username</th>
        <th style="width: 40%">Active roles</th>
        <th style="width: 30%"></th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track user.username) {
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.roles }}</td>
        <td>
          <button (click)="openRolesModal(user)" class="btn btn-info">
            Edit roles
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<div class="row mt-4">
  <div class="col">
    <h5>Users without main photo:</h5>
    <ul>
      <li *ngFor="let user of usersWithoutMainPhoto">{{ user }}</li>
    </ul>
  </div>
  <div class="col">
    <h5>Photo approval stats:</h5>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Username</th>
          <th>Approved</th>
          <th>Rejected</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stat of photoStats">
          <td>{{ stat.Username }}</td>
          <td>{{ stat.ApprovedPhotos }}</td>
          <td>{{ stat.RejectedPhotos }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
